# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment folder
myenv/

# Ignore output directory where results are stored
output/
.DS_Store
# Ignore requirements file if you want to ignore environment-specific dependencies
#requirements.txt
